<div
  #box
  class="resizable-draggable"
  [style.width.px]="width"
  [style.height.px]="height"
  [style.transform]="'translate3d(' + left + 'px,' + top + 'px,' + '0px)'"
  [class.active]="status === 1 || status === 2"
  (mousedown)="dragEvent($event, 2, 1)"
  (window:mouseup)="dragEvent($event, 0, 1)"
>
  <div class="resize-action" (mousedown)="dragEvent($event, 1, 1)"></div>
  <span>{{ width | number: '1.0-0' }}px</span>
  <span>{{ height | number: '1.0-0' }}px</span>
  <span>({{ left }}, {{ top }})</span>
</div>

<div
  #box2
  class="resizable-draggable"
  [style.width.px]="width2"
  [style.height.px]="height2"
  [style.transform]="'translate3d(' + left2 + 'px,' + top2 + 'px,' + '0px)'"
  [class.active]="status === 1 || status === 2"
  (mousedown)="dragEvent($event, 2, 2)"
  (window:mouseup)="dragEvent($event, 0, 2)"
>
  <div class="resize-action" (mousedown)="dragEvent($event, 1, 2)"></div>
  <span>{{ width2 | number: '1.0-0' }}px</span>
  <span>{{ height2 | number: '1.0-0' }}px</span>
  <span>({{ left2 }}, {{ top2 }})</span>
</div>
